<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gacha Gambling</title>
    <link rel="stylesheet" href="static/css/home_page_style.css">
</head>

<body class="home_page">
<!-- Top Navigation Bar -->
    <div class="navigation_top_bar">
        <a href="/"><img src="static/logo/logo.png" alt="Gacha Gambling Logo" class="logo"></a>
        <img src="static/image/pale-violet-red_color.png" alt="line" class="home_page_logo_separate">
        <a href="/friends_list" class="friend_request_and_pending_button">Friend Requests & Pending</a>
        <a href="/settings_page"><img src="static/image/settings.png" alt="Settings" class="settings_icon"></a>
    </div>
    <div class="chats_display">
        <div class="chat_logos">
            <div class="pagination_buttons_horizontal">
                {% if page > 1 %}
                <a href="/?page={{ page - 1 }}">Previous</a>
                {% endif %}
            </div>
                {% for item in chat_pfp %}
                <div class="chat_item">
                    <img src="{{ item.image }}" alt="{{ item.title }}" class="chat_images">
                    <p>{{ item.title }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="pagination_buttons_horizontal">
                {% if chat_pfp|length == 5 %}
                <a href="/?page={{ page + 1 }}">Next</a>
                {% endif %}
            </div>
        </div>
        
        <img src="static/image/pale-violet-red_color.png" alt="line" class="chat_logos_split">
        
        <div class = "forum_page">
            <h1 class = "explore_button">Explore</h1>
        
            <div class = "forum_explore">
                <div class="pagination_buttons_vertical">
                    {% if page > 1 %}
                    <a href="/?page={{ page - 1 }}">←</a>
                        {% endif %}
                </div>
                    {% for item in chat_pfp %}
                    <div class="forum_item">
                        <img src="{{ item.image }}" alt="{{ item.title }}" class="chat_images">
                        <div info_on_forum>
                            <a href = "/list_of_friends"><img src = "static/image/plus_symbol.png" alt = "view_friends_in_chat"></a>
                            <h2 class = "forum_explore_name">{{ item.title }}</h2>
                            
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="pagination_buttons_vertical">
                    {% if chat_pfp|length == 5 %}
                    <a href="/?page={{ page + 1 }}">→</a>
                    {% endif %}
                </div>
            </div>
        </div>    
    </div>
</body>
</html>