.home_page{
    background-color: black;
}

.navigation_top_bar {
    display: flex;
    align-items: center;
    border-bottom: 5px solid palevioletred;
    padding-bottom: 0px;
    padding-top: 0px;
}

.logo {
    width: 60px;
    height: auto;
}

.home_page_logo_separate {
    width: 5px;
    height: 80px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.friend_request_and_pending_button {
    background-color: grey;
    color: white;
    padding: 15px 40px;
    margin: 10px 300px;
    text-decoration: none;
    width: 600px;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}

.settings_icon {
    width: 60px;
    height: auto;
}

.chats_display {  
    display: flex;
    flex-direction: row;
}

.chat_logos {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.chat_images {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin:0px;
    padding: 0px;
}

.chat_logos_split {
    width: 5px;
    height: 400px;
    margin-left: 0px;
    margin-top: 0px;
}

.pagination_buttons_horizontal {
    margin-top: 20px;
    text-align: center;
}

.pagination_buttons_horizontal a {
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #d87093;
    color: white;
    border-radius: 5px;
}

.pagination_buttons_horizontal a:hover {
    background-color: #c65c81;
}

.pagination_buttons_vertical {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.pagination_buttons_vertical a {
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #d87093;
    color: white;
    border-radius: 5px;
}

.pagination_buttons_vertical a:hover {
    background-color: #c65c81;
}

.forum_explore {
    display: flex;
}

explore_button {
    border: 5px solid palevioletred;
    background-color: palevioletred;
    color: white;
    text-align:center;
}

info_on_forum {
    border: 5px solid grey;
    background-color: grey;
    display: flex;
}

.view_friends_in_forum {
    width: 40px;
    height: 40px;
}