.home_page{
    background-color: black;
}

.navigation_top_bar {
    display: flex;
    align-items: center;
    border-bottom: 5px solid palevioletred;
    padding-bottom: 0px;
    padding-top: 0px;
}

.logo {
    width: 60px;
    height: auto;
}

.home_page_logo_separate {
    width: 5px;
    height: 80px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.friend_request_and_pending_button {
    background-color: grey;
    color: white;
    padding: 15px 40px;
    margin: 10px 300px;
    text-decoration: none;
    width: 600px;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}

.settings_icon {
    width: 60px;
    height: auto;
}

.chats_side_bar {  
    display: flex;
}

.chat_logos {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 0px;
}

.chat_images {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat_logos_split {
    width: 5px;
    height: 400px;
    margin-left: 0px;
    margin-top: 0px;
}

.pagination_buttons {
margin-top: 20px;
text-align: center;
}

.pagination_buttons a {
padding: 8px 16px;
margin: 0 5px;
background-color: #d87093;
color: white;
border-radius: 5px;
}

.pagination_buttons a:hover {
background-color: #c65c81;
}