.settings_page {
    background-color: black;
}

.logo_settings {
    width: 60px;
    height: auto;
}

.settings_customisation {
    border: 5px solid palevioletred;
    padding: 0px 10px;
}

.online_button {
    display: flex;
}

.online_tag {
    color: white;
}

.online_confirmation_colour {
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 5px;
}