body {
    background-color: blueviolet;
}

.logo {
    width: 60px;
    height: auto;
}

.friend_request_and_pending_button {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 467px;
    margin-right: 467px;
}

.navigation_top_bar {
    display: flex;
    align-items: center;
}

.settings_icon {
    width: 60px;
    height: auto;
}