body {
    background-color: black;
}

.logo {
    width: 60px;
    height: auto;
}

.friend_request_and_pending_button {
    background-color: grey;
    color: white;
    padding: 15px 40px;
    margin: 10px 300px;
    text-decoration: none;
    width: 600px;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}

.navigation_top_bar {
    display: flex;
    align-items: center;
    border-bottom: 5px solid palevioletred;
    padding-bottom: 10px;
}

.settings_icon {
    width: 60px;
    height: auto;
}